//Import page-specific CSS files here.
@import "home";
@import "show";
.index-bg {
  background: url('<%= image_path "dog13.jpg" %>');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
