// @import "home";
.show-bg {
  background-image: url('<%= image_path "dog13.jpg" %>');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.dog-avatar {
  width: 100%;
  text-align: center;
  border-radius: 4px;
}

.booking-bg {
  background-image: url('<%= image_path "dog13.jpg" %>');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
